@tailwind base;
@tailwind components;
@tailwind utilities;

@import './theme.css';

@keyframes shooting-star {
  0% {
    transform: translateX(0) translateY(0) rotate(-45deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
    box-shadow: 0 0 20px 2px currentColor, -100px 100px 10px 0px currentColor;
  }
  45% {
    opacity: 1;
  }
  50% {
    transform: translateX(1000px) translateY(500px) rotate(-45deg);
    opacity: 0;
  }
  100% {
    transform: translateX(1000px) translateY(500px) rotate(-45deg);
    opacity: 0;
  }
}

@keyframes spark {
  0% {
    transform: translate(1000px, 500px) scale(0);
    opacity: 0;
  }
  50% {
    transform: translate(1000px, 500px) scale(1.5);
    opacity: 1;
  }
  100% {
    transform: translate(1000px, 500px) scale(0);
    opacity: 0;
  }
}

@keyframes jump {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes run {
  0% {
    left: -50px;
  }
  100% {
    left: 100%;
  }
}

@keyframes tumble {
  0% {
    left: -50px;
    transform: rotate(0deg);
  }
  100% {
    left: 100%;
    transform: rotate(360deg);
  }
}
